/* Global styles************************************** */

/* titles */
h1 {
 text-align: center;
 font-family: 'Permanent Marker', cursive;
 font-size: 3rem;
}
 
/* board as a whole ************************/
#board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 #cell-0, #cell-3, #cell-6 {
  border-right: .5rem solid black;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 10px 225px;
  border-bottom-left-radius: 225px 10px;
}

#cell-1, #cell-4, #cell-7 {
  border-right: .5rem solid black;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 10px 225px;
  border-bottom-left-radius: 225px 10px;
}

#cell-0, #cell-1, #cell-2 {
  border-bottom: .5rem solid black;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 10px;
  border-bottom-left-radius: 225px 10px;
}

#cell-3, #cell-4, #cell-5 {
  border-bottom: .5rem solid black;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 10px;
  border-bottom-left-radius: 225px 10px;
}

.row {
  display: flex;
}

.cell {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}

/* start button, status bar and time-keeper disaplys ********************/
#start {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  background:transparent;
  border:solid .15em #41403E;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
}

#start:hover {
  cursor: pointer;
  background-color: #41403E;
  font-weight: 100;
  color: aliceblue;
}

#status {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  background:transparent;
  border:solid .15em #41403E;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  display: none;
  padding: 0 1rem
}

 #time-now {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem
}

/* player tokens and form styling ****************/
#playerX, #playerO, #gameChoice, #submit{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 1rem;
  border:solid .15em #41403E;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
}