/* Global styles****** */

.row {
    display: flex;
}

.cell {
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#row-1, #row-2 {
    border-bottom: .2em solid black;
    width: 15em;
}

#row-3 {
    width: 15em;
}

#cell-0, #cell-3, #cell-6 {
    border-right: .2em solid black;
}

#cell-1, #cell-4, #cell-7 {
    border-right: .2em solid black;
}